/* Basic Reset */
body, h1, h2, h3, p, figure, figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  align-items: center;
}

body {
  font-family: 'Arial', sans-serif;
  background: #121212; /* Assuming a dark theme */
  margin: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel {
  background: #1DB954; /* Spotify green */
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px; /* Width of each rectangle */
  height: 150px; /* Height of each rectangle */
  margin: 10px; /* Space between rectangles */
  /* Add a box-shadow for some depth */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* You can remove any height definition from .container if it's not needed */
