:root {
    --body-font-size: 3vh;
}

body {
    font-weight: normal !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CPG-header {
    background-color: rgb(90, 189, 136);
    padding: 1vh 8vh;
    position: fixed;
    top: 3%;
    border-radius: 10vh;
    font-size: 5vh;
    letter-spacing: 0.1rem;
    border-style: none;
}

.CPG-background {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: linear-gradient(rgba(90, 189, 136, 0.9), rgba(191, 255, 89, 0.3), rgba(222, 255, 89, 0));
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3vh;
    width: 95vw;
    height: 78vh;
    display: flex; /* Add this if you want to center content horizontally */
    flex-direction: column;
    justify-content: center; /* Add this if you want to center content horizontally */
    align-items: center; /* Add this if you want to center content vertically */
}

.CPG-base {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex; /* Add this if you want to center content horizontally */
    flex-direction: column;
    justify-content: center; /* Add this if you want to center content horizontally */
    align-items: center; /* Add this if you want to center content vertically */
}

.genres {
    font-size: 2.3vh;
}

.checkboxes {
    margin-right: 1.5vh;
    cursor: pointer;
}

.slider_checkboxes {
    margin-right: 1vh;
    margin-left: 2vh;
    cursor: pointer;
}

.checkbox-label {
    font-size: 2.3vh;
    letter-spacing: 0.05rem;
    color: rgba(223, 240, 203, 1);
}

.CPG-create-playlist-button {
    background-color: rgb(192, 231, 179);
    padding: 1vh 4vw;
    position: absolute;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    display: block;
    margin: auto;
    transform: translateY(22vh);
    z-index: 1;
}

.CPG-create-playlist-button:hover {
    transform: scale(1.1) translateY(20vh);
}

.home-button {
    transform: translate(44vw, -40vh);
    background-color: rgb(90, 189, 136);
    position: absolute;
    padding: 1vh 3vh;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    width: 7vw;
    height: 8vh;
}

.home-button:hover {
    transform: scale(1.1) translate(40vw, -36.5vh);
}

.back-button {
    transform: translate(-44vw, -40vh);
    background-color: rgb(90, 189, 136);
    position: absolute;
    padding: 1vh 3vh;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    width: 7vw;
    height: 8vh;
}

.back-button:hover {
    transform: scale(1.1) translate(-40vw, -36.5vh);
}

.next-button {
    background-color: rgb(192, 231, 179);
    padding: 0.5vh 4vh;
    margin-top: 2vh;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    font-weight: bold;
}

.more-options-button {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    color: rgb(192, 231, 179);
    margin-left: 4vw;
    margin-top: 3vh;
}

.next-button:hover, .more-options-button:hover {
    transform: scale(1.1);
}

.more-options-background {
    background-color: rgba(212, 241, 176, 0.25);
    border-radius: 3vh;
    margin: 0.5% auto;
    width: 97%;
    height: 19%;
    position: relative;
}

.create-playlist-button, .home-button, .back-button, .next-button, .more-options-button {
    cursor: pointer;
}

td {
    padding: 0.1vh 0 0.1vh 0;
    width: 13vw;
    letter-spacing: 0.05rem;
    color: rgba(223, 240, 203, 1);
}

.slider-container {
    width: 90%;
    margin: 4vh auto 4vh auto;
}

.slider-label {
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-size: 3vh;
    color: rgba(223, 240, 203, 0.9);
    letter-spacing: 0.1em;
}

.slider-background {
    background-color: rgba(212, 241, 176, 0.25);
    border-radius: 3vh;
    width: 97%;
    height: 75%;
    position: relative;
    margin-bottom: 0;
}

.embed-playlist {
    width: 90%;
    height: 90%;
}

.button-image {
    width: 80%;
}

.all-slider-container {
    max-height: 85%;
    width: 90%;
    overflow-y: scroll;
    scrollbar-color: rgba(223, 240, 203, 1) transparent;
    margin-top: 10vh;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgba(212, 241, 176, 0.7);
    margin-top: 4vh;
    height: 0.3vh;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -2.5vh; /* Centers thumb on the track */

    /*custom styles*/
    background-color: rgb(218, 239, 211);
    height: 5vh;
    width: 1.2vw;
    border-radius: 0.3vw;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #030c11;
    outline: 3px solid #150808;
    outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: rgba(212, 241, 176, 0.7);
    height: 0.3vh;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -2.5vh; /* Centers thumb on the track */

    /*custom styles*/
    background-color: rgb(218, 239, 211);
    height: 5vh;
    width: 1.2vw;
    border-radius: 0.3vw;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #000305;
    outline: 3px solid #05090c;
    outline-offset: 0.125rem;
}