.CPG-header {
    background-color: rgb(90, 189, 136);
    padding: 1vh 8vh;
    position: fixed;
    top: 6%;
    border-radius: 10vh;
    font-size: 5vh;
    letter-spacing: 0.1rem;
    border-style: none;
}

.CPG-background {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: linear-gradient(rgba(90, 189, 136, 1.0), rgba(222, 255, 89, 0.2));
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3vh;
    width: 95vw;
    height: 78vh;
    display: flex; /* Add this if you want to center content horizontally */
    flex-direction: column;
    justify-content: center; /* Add this if you want to center content horizontally */
    align-items: center; /* Add this if you want to center content vertically */
}

.CPG-base {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex; /* Add this if you want to center content horizontally */
    flex-direction: column;
    justify-content: center; /* Add this if you want to center content horizontally */
    align-items: center; /* Add this if you want to center content vertically */
}

.genres {
    font-size: 2.3vh;
}

.checkboxes {
    margin-right: 2vh;
}

.create-playlist-button {
    background-color: rgb(192, 231, 179);
    padding: 1vh 8vh;
    position: fixed;
    top: 6%;
    border-radius: 10vh;
    font-size: 5vh;
    letter-spacing: 0.1rem;
    border-style: none;
}

.home-button {
    transform: translate(42vw, -85vh);
    background-color: rgb(90, 189, 136);
    padding: 1vh 3vh;
    border-radius: 10vh;
    font-size: 3vh;
    letter-spacing: 0.1rem;
    border-style: none;
}

.next-button {
    transform: translateY(5vh);
    background-color: rgb(192, 231, 179);
    padding: 0.5vh 4vh;
    margin-top: 1vh;
    border-radius: 10vh;
    font-size: 3vh;
    letter-spacing: 0.1rem;
    border-style: none;
}

td {
    padding: 0.1vh 0 0.1vh 0;
    width: 13vw;
    letter-spacing: 0.05rem;
    transform: translateY(5vh);
}

.slider-container {
    margin-bottom: 15px;  /*Height between sliders*/
}

.slider-label {
    margin-right: 10px;  /*Space between slider label and slider edge*/
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 50rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #04080a;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: #ffffff;
    height: 2rem;
    width: 0.75rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #030c11;
    outline: 3px solid #150808;
    outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #070f15;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #020505;
    height: 1rem;
    width: 0.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #000305;
    outline: 3px solid #05090c;
    outline-offset: 0.125rem;
}