:root {
    --body-font-size: 16px;
}

body {
    font-weight: normal !important; 
    font-size: var(--body-font-size);
}

* {
    box-sizing: border-box;
}

.CPG-header {
    background-color: rgb(90, 189, 136);
    padding: 1vh 8vh;
    position: fixed;
    top: 3%;
    border-radius: 10vh;
    font-size: 5vh;
    letter-spacing: 0.1rem;
    border-style: none;
    color: black;
}

.CPG-background {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: linear-gradient(rgba(90, 189, 136, 0.9), rgba(191, 255, 89, 0.3), rgba(222, 255, 89, 0));
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3vh;
    width: 95vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 1rem;
}

.CPG-base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animateMounting 1s;
}

@keyframes animateMounting {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.genres {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    overflow-y: auto;
}

.genres td {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.checkboxes, .slider_checkboxes {
    margin: 0.5rem;
    cursor: pointer;
}

.checkbox-label {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    color: rgba(223, 240, 203, 1);
}

.CPG-create-playlist-button {
    background-color: rgb(192, 231, 179);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    border-style: none;
    display: block;
    margin: 1rem auto;
    transition: transform 0.3s ease;
    color: black;
}

.CPG-create-playlist-button:hover {
    transform: scale(1.1);
}

.home-button, .back-button {
    background-color: rgb(90, 189, 136);
    position: absolute;
    padding: 1vh 3vh;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    width: 7vw;
    height: 8vh;
}

.home-button {
    transform: translate(44vw, -40vh);
}

.home-button:hover {
    transform: scale(1.1) translate(40vw, -36.5vh);
}

.back-button {
    transform: translate(-44vw, -40vh);
}

.back-button:hover {
    transform: scale(1.1) translate(-40vw, -36.5vh);
}

.next-button {
    background-color: rgb(192, 231, 179);
    padding: 0.5vh 4vh;
    margin-top: 2vh;
    border-radius: 10vh;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    border-style: none;
    font-weight: bold;
    color: black;
}

.more-options-button {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    color: rgb(192, 231, 179);
    margin-top: 1rem;
    transition: transform 0.3s ease;
}

.next-button:hover, .more-options-button:hover {
    transform: scale(1.1);
}

.more-options-background {
    background-color: rgba(212, 241, 176, 0.25);
    border-radius: 1rem;
    margin: 0.5% auto;
    width: 97%;
    padding: 1rem;
}

.CPG-create-playlist-button, .home-button, .back-button, .next-button, .more-options-button {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slider-container {
    width: 90%;
    margin: 1rem auto;
}

.slider-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgba(223, 240, 203, 0.9);
    letter-spacing: 0.1em;
}

.slider-background {
    background-color: rgba(212, 241, 176, 0.25);
    border-radius: 1rem;
    width: 97%;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* CSS for the value displayed above each slider */
.slider-value {
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff; /* Ensure it's visible */
    text-align: center;
  }
  

.embed-playlist {
    margin-top: 0;
}

.button-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-slider-container {
    max-height: 85%;
    width: 90%;
    overflow-y: auto; /* Ensure this is scrollable if needed */
    scrollbar-color: rgba(223, 240, 203, 1) transparent;
    margin-top: 2rem;
    padding: 1rem;
}

/* Range Input Styles */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgba(212, 241, 176, 0.7);
    height: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.35rem;
    background-color: rgb(218, 239, 211);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #030c11;
    outline: 3px solid #150808;
    outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
    background-color: rgba(212, 241, 176, 0.7);
    height: 0.3rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: rgb(218, 239, 211);
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #000305;
    outline: 3px solid #05090c;
    outline-offset: 0.125rem;
}

/* Scrollbar Styles for WebKit browsers (Chrome, Safari) */::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(212, 241, 176, 0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(90, 189, 136);
    border-radius: 6px;
}

@media (max-width: 600px) {
    .CPG-header {
        font-size: 2.75vh; 
        padding: 1vh 3vh; 
        height: 6vh; 
        top: 1%; 
    }
    
    .CPG-background {
        width: 90vw; 
        height: calc(100vh - 25vh); 
        position: fixed; 
        top: 42vh; 
    }

    .home-button, .back-button, .next-button {
        display: flex;
        font-size: 1rem; 
        height: 6vh; 
        border-radius: 10vh; 
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .home-button {
        margin-right: 2rem;
    }

    .back-button {
        margin-left: 2rem;
    }

    .button-image {
        width: auto; 
        height: 80%; 
        object-fit: contain; 
    }

    .CPG-create-playlist-button, .next-button {
        font-size: 1.5rem; 
        height: 6vh; 
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .CPG-header {
        font-size: 4.5vh;
        padding: 1.5vh 6vh;
    }

    .CPG-background {
        width: 85vw;
        height: 75vh;
        padding: 1rem;
    }

    .CPG-create-playlist-button {
        font-size: 1.8rem;
    }

    .home-button, .back-button {
        font-size: 1.5rem;
    }

    .next-button {
        font-size: 1.8rem;
    }

    .slider-label {
        font-size: 0.9rem;
    }

    .checkbox-label {
        font-size: 1rem;
    }
}

@media (min-width: 1025px) {
    .CPG-header {
        font-size: 5vh;
        padding: 1vh 8vh;
    }

    .CPG-create-playlist-button {
        font-size: 2rem;
    }

    .slider-label {
        font-size: 2rem;
    }

    .checkbox-label {
        font-size: 1.1rem;
    }
}

/* Modal container */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    color: #333; /* Ensure text is visible with a contrasting color */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-size: 16px; /* Adjust font size if needed */
  }
  
  
  /* Close button */
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: black;
  }
  