body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.background {
    min-height: 100vh;
    flex-direction: column;
    background: rgb(33, 33, 33); 
    color: #fff;
}

/* Top header with the search bar */
.search-header {
    transform: translate(130%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(91, 172, 210, 0.9);
    height: 10vh; /* Adjust height for the header */
    width: 28%;
    border-radius: 30px 30px 30px 30px;
}

.search-bar {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(69, 118, 141, 0.9);
    height: 100px;
    width: 500px;
    border-radius: 35px;
    top: 50px;
}

.search-button, .recs-button {
    background-color: rgb(43, 73, 95); /* Button color */
    color: white;
    border: none; /* Remove default border */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 0.75rem 1.5rem; /* Padding for button */
    font-size: 1rem; /* Font size */
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Smooth transition for background color */
}

.search-button:hover {
    transform: scale(1.05);
}

.create-playlist-button {
    background-color: rgb(43, 73, 95); /* Button color */
    color: white;
    position: relative;
    bottom: 200px;
    border-radius: 20px;
    padding: 0.75rem 1.5rem; /* Padding for button */
    font-size: 1rem; /* Font size */
    cursor: pointer;
    top: -6vh;
}

.embed-playlist {
    margin-top: 50px;
    width: 90%;
    height: 90%;
}

.create-playlist-button:hover {
    transform: scale(1.1);
}

.search-input {
    flex: 1;
    border: 1px solid #ced4da; /* Light border */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 0.75rem 1rem; /* Padding for input */
    font-size: 1rem; /* Font size */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); /* Subtle shadow */
    transition: border-color 0.2s ease-in-out; /* Smooth transition for border color */
}


/* Middle section for song results */
.song-container-search {
    position: relative;
    flex-grow: 1; /* Prevents it from growing to fill the remaining space */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    margin-top: 5vh;
    margin-bottom: 300px;
    max-height: 100px;
}

.song-recommendation-container {
    position: relative;
    display: flex; /* Enables Flexbox for horizontal alignment */
    justify-content: center; /* Centers the items horizontally */
    gap: 20px; /* Adds space between items */
    padding: 10px;
    top: 2vh;
  }

.spotify-container {
    width: (100% / 3);
    height: 50vh;
    margin-bottom: 40px;
    display: flex; /* Align items in a row */
    align-items: center; /* Vertically centers the items */
    flex-direction: column; /* Stacks children vertically */
}

.spotify-container > .Spotify {
flex: 1; /* Allows the Spotify component to take up remaining space */
}

.playlist-button {
    display: flex; /* Enables Flexbox layout for button container */
    justify-content: center; /* Centers button horizontally */
  
    margin-top: -200px; /* Adds some space between the Spotify player and the button */
  }

.song-match-pool-container, .song-match-pool-container-recs {
    position: absolute;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    flex-direction: row; /* Aligns items in a horizontal row */
    bottom: 9vh;
}

.song-match-pool-container-recs {
    bottom: 4vh;
}

.selected-text, .selected-text-recs {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: bold;
    bottom: 30vh;
}

.selected-text-recs {
    bottom: 25vh;
}

.recs-button {
    position: absolute;
    bottom: 100px;
    bottom: 5vh;
}

.song-match-pool-container-2 {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    flex-direction: row; /* Aligns items in a horizontal row */
    margin-top: 5%;
}

.selected-songs-title {
    position: absolute;
    text-align: center; /* Centers the text within its container */
    width: 100%; /* Takes full width to allow centering */
    margin-top: 10px; /* Adjusts spacing from the top if needed */
    font-weight: bold; /* Makes the title bold */
  }

/*Search section album cards*/
    /* Card styling for song display */
    .album-card, .album-card-match-pool {
        background-color: rgb(43, 73, 95);
        margin: 10px; /* Space around each card */
        padding: 20px;
        width: calc((100% / 8) - 20px);
        max-width: 200px;
        max-height: 210px;
        padding-bottom: 150px;
        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        position: relative;
        border-radius: 10px;
        cursor: pointer;
        font-size: large;
        font-weight: bold;
        color: white;
        border-radius: 20px;
    }

    .album-card img, .album-card-match-pool img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        border-radius: 20px;
    }

    .album-card:hover {
        transform: scale(1.1);
    }

    .album-card .card-title, .album-card-match-pool .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Limit to 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden; /* Hide overflow text */
        text-overflow: ellipsis; /* Add ellipsis for overflow text */
        white-space: normal; /* Allow text to wrap */
        margin-bottom: 1rem; /* Space between title and button */
        font-size: smaller;
        text-align: center;
    }

.album-card-match-pool {
    width: 150px;
    height: 115px;
    cursor: default;
}

.album-card-match-pool .remove-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom: 0px;
    cursor: pointer;
}

.album-card-match-pool .remove-button:hover {
    transform: scale(1.1);
}

.back-button-song-match {
    transform: translate(-44vw, -40vh);
    background-color: rgba(91, 172, 210, 0.9);
    position: absolute;
    padding: 1vh 3vh;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    width: 7vw;
    height: 8vh;
    cursor: pointer;
}

.back-button-song-match:hover {
    transform: scale(1.1) translate(-40vw, -36.5vh);
}


.home-button-song-match {
    transform: translate(44vw, -40vh);
    background-color: rgba(91, 172, 210, 0.9);
    position: absolute;
    padding: 1vh 3vh;
    border-radius: 10vh;
    font-size: var(--body-font-size);
    letter-spacing: 0.1rem;
    border-style: none;
    width: 7vw;
    height: 8vh;
    cursor: pointer;
}

.home-button-song-match:hover {
    transform: scale(1.1) translate(40vw, -36.5vh);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .album-card {
        flex: 1 1 calc(50% - 16px); /* 2 cards per row on smaller screens */
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .album-card {
        flex: 1 1 100%; /* 1 card per row on very small screens */
        max-width: 100%;
    }
}

.SM-header {
    background-color: rgba(91, 172, 210, 0.9);
    padding: 1vh 8vh;
    position: fixed;
    top: 3%;
    border-radius: 10vh;
    font-size: 5vh;
    letter-spacing: 0.1rem;
    border-style: none;
}

.SM-background {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: linear-gradient(rgba(91, 172, 210, 0.9), rgba(45, 106, 134, 0.9), rgba(222, 255, 89, 0));
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3vh;
    width: 95vw;
    height: 78vh;
    display: flex; /* Add this if you want to center content horizontally */
    flex-direction: column;
    align-items: center; /* Add this if you want to center content vertically */
}

.SM-base {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex; /* Add this if you want to center content horizontally */
    flex-direction: column;
    justify-content: center; /* Add this if you want to center content horizontally */
    align-items: center; /* Add this if you want to center content vertically */
}
