body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }




  .background {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(137, 207, 240, 0.9);
    width: 1600px; /* Adjust width as needed */
    height: 800px; /* Adjust height as needed */
    display: flex; /* Add this if you want to center content horizontally */
    justify-content: center; /* Add this if you want to center content horizontally */
    align-items: center; /* Add this if you want to center content vertically */
  }



.small-container {
    position: fixed;
    bottom: 0;
    width: 100%; /* Make it span the full width */
    max-height: 150px; /* Set a maximum height */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical overflow */
    white-space: nowrap; /* Prevent items from wrapping */
    background-color: rgba(255, 255, 255, 0.9); /* Optional: background color with transparency */
    border-top: 1px solid #ddd; /* Optional: top border */
    padding: 10px; /* Optional: padding */
}

.small-card {
    display: inline-block; /* Make cards inline */
    width: 100px; /* Adjust as needed */
    margin-right: 10px; /* Space between cards */
}
  

