.header {
    text-align: center;
    font-weight: 700;
    font-size: large;
    font-family: "Teachers", sans-serif;
    font-weight: 300;
    color: #07532e;
    margin-bottom: 20px; /* Add margin bottom to separate header from blocks */
    margin-top: 20px; /* Add margin top to space it from the blocks */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px); /* Adjust container height to fit header and blocks */
}
  
.block {
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-color: darkgreen; /* Adjust as needed */
    border-radius: 20px; /* Rounded edges */
    margin: 0 10px; /* Adjust as needed */
    border-color: black;
}

.block1 {
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-image: linear-gradient(#A788DA, #C7794C); /* Adjust as needed */
    border-radius: 20px; /* Rounded edges */
    margin: 0 10px; /* Adjust as needed */
    border-color: black;
}

.block2 {
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-image: linear-gradient(#79A4E4, #C7794C); /* Adjust as needed */
    border-radius: 20px; /* Rounded edges */
    margin: 0 10px; /* Adjust as needed */
    border-color: black;
}

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura PT Medium'), url('./FuturaCyrillicMedium.woff') format('woff');
}
  
* {
  font-family: 'Futura PT Medium', 'Oxygen', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  height: 300px;
  width: 300px;
  overflow: auto;
}
