.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Login page styling */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 85vh;
}

/* Log in/out button styling */
.login-button, .logout-button {
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: large;
  cursor: pointer;
  text-transform: uppercase;
}

.login-button {
  background-color: #1db954;
  color: black;
}

.logout-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
}

.login-button:hover, .logout-button:hover {
  transform: scale(1.1);
}

/* Home page styling */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: x-large;
  font-family: "Teachers", sans-serif;
  font-weight: 300;
  color: #1db954;
  margin-bottom: 10px;
  margin-top: 25px;
  position: relative;
  right: 5px;
}

.header img {
  width: 80px;
  height: 80px;
}

.header h1 {
  font-size: 3rem;
  letter-spacing: 1.5px;
}

/* Adjust block spacing */
.block-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background blocks */
.cp-bg, .sm-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 560px;
  border-radius: 20px;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
  min-width: 375px;
}

.cp-bg {
  background-image: linear-gradient(#5ABD88, #C7794C);
}

.sm-bg {
  background-image: linear-gradient(#79A4E4, #C7794C);
}

/* Media query for smaller screens */
@media (max-width: 1200px) {
  .block-spacing {
    flex-direction: column;
  }
  
  .overlap-container, .cp-bg, .sm-bg {
    margin: 10px;
  }
}

/* Rectangle labels */
.cp-label, .sm-label {
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  margin-bottom: 450px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: floatLabel 3s ease-in-out infinite;
  width: 335px;
}

.cp-label {
  background: #5ABD88;
}

.sm-label {
  background: #79A4E4;
}

/* Floating (hover) animation for the labels */
@keyframes floatLabel {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  50% {
    transform: translateY(-10px); /* Move up slightly */
  }
  100% {
    transform: translateY(0); /* Back to original position */
  }
}

/* Style the iframe */
iframe {
  width: 100%;
  height: 560px;
  border: none;
  border-radius: 20px;
  overflow: auto;
}

/* Style the select dropdown to look like a button */
.styled-select {
  appearance: none;
  background-color: #07532e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px; /* Space between the playlist and genre selector */
  width: 100%;
  text-align: center;
  z-index: 1;
}

.styled-select:hover{
  transform: scale(1.05);
}

/* Overlap styling for discover daily to hide iframe playlist load */
.overlap-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dd-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 560px;
  border-radius: 20px;
  margin: 0 10px;
  padding: 20px;
}

.dd-bg {
  background-image: linear-gradient(#A788DA, #C7794C);
  top: 0;
  left: 0;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
}

.dd-hide {
  position: absolute;
  background-image: linear-gradient(#A788DA, #C7794C);
  left: 9px;
  top: 0px;
  width: 336px;
  height: 550px;
  border: none;
  border-radius: 20px;
  z-index: 0;
}

/* Animation for iframe load on discover daily */
.loading-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-dots {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  animation: loading 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

.dot:nth-child(3) {
  animation-delay: 0s;
}

@keyframes loading {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.footer {
  color: rgb(173, 176, 173);
  padding: 4vh;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 20px; /* Add vertical spacing between items */
}