/* Center header */
.header {
  text-align: center;
  font-weight: 700;
  font-size: large;
  font-family: "Teachers", sans-serif;
  font-weight: 300;
  color: #07532e;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Adjust block spacing */
.block-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background blocks */
.dd-bg, .cp-bg, .sm-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 560px;
  border-radius: 20px;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
}

.dd-bg {
  background-image: linear-gradient(#A788DA, #C7794C);
}

.cp-bg {
  background-image: linear-gradient(#5ABD88, #C7794C);
  cursor: pointer;
}

.sm-bg {
  background-image: linear-gradient(#79A4E4, #C7794C);
  cursor: pointer;
}

/* Style the iframe */
iframe {
  width: 100%;
  height: 560px;
  border: none;
  border-radius: 20px;
  overflow: auto;
}

/* Style the select dropdown to look like a button */
.styled-select {
  appearance: none;
  background-color: #07532e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px; /* Space between the playlist and genre selector */
  width: 100%;
  text-align: center;
}

/* Login page styling */
.login-page {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
 height: 85vh;
}

/* Login button styling */
.login-button {
  background-color: #1db954;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: large;
  cursor: pointer;
}